<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Canceled Ticket</title>
</head>
<body>
<h2>Dear <span th:text="${ticket.getOwner().getFirstName()}"/> <span th:text="${ticket.getOwner().getLastName()}"/>,</h2>
<h2>
    <a href="details.html"
       th:href="@{http://localhost:3000/ticket-info/{ticket}(ticket=${ticket.getId()})}">
        Ticket-<span th:text="${ticket.getId()}"/></a>
    was cancelled by the Manager.
</h2>
</body>
</html>